.mb-3 {
    color: #999;
}

.form-check {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.form-check-label{
    color: #FFF;
    margin-top: -16px;
}

.login-form input {
    width: 320px;
    
    
}
.loginInputs {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login-form h2 {
    justify-content: center;
    display: flex;
}




